<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>135107019721-028duvn5q0l3r00aqt7n63plihoimqn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135107019721-028duvn5q0l3r00aqt7n63plihoimqn8</string>
	<key>API_KEY</key>
	<string>AIzaSyBk4JHFIfyW2N40KdBkTAiO6refcEb8_Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>135107019721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warcom.RNDM</string>
	<key>PROJECT_ID</key>
	<string>rndm-e02ea</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-e02ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135107019721:ios:1d0115c9c14fb9a0</string>
	<key>DATABASE_URL</key>
	<string>https://rndm-e02ea.firebaseio.com</string>
</dict>
</plist>